@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h6 class="display-6 text-center fw-normal">Zen Book Store</h6>

    <div class="container mx-auto">
        <div class="d-flex justify-content-end align-items-center">
            <a class="btn btn-primary">Add new book</a>
        </div>
    </div>
</section>
