<section>
    <h1 class="display-6 text-center">Zen BookStore</h1>

    <div class="d-flex justify-content-end align-items-center mt-3">
        <a asp-controller="Home" asp-action="Create" class="btn btn-primary">Create new book</a>
    </div>
</section>